.container{
    width: 100%;
    height: 100vh;
    padding:2rem;
}
.container .title>h1{
    color:rgb(226, 59, 115);
    text-transform: uppercase;
    position: relative;
}
.container .title>h1::after{
    content:"TCDev";
    color: #83b962;
    font-size: 0.8rem;
    position: absolute;
    top:0;
}

